:root {
  /* --darker:  #242f9b; */
  /* --dark: #646fd4; */

  --darker: #2196f3;
  --dark: #03a9f4;
  --light: #9ba3eb;
  --lighter: #dbdffd;
}

.home {
  text-align: center;

  padding: 1rem;
  color: var(--darker);
  opacity: 0.8;
  margin-bottom: 3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.box {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.box h3 {
  margin-bottom: 1rem;
  color: #888;
}

.box p {
  line-height: 1.8;
  color: #555;
}
